<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>{{meta_title}}</title>   
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    
    <meta name="description" content="{{meta_description}}">

    {{> twitter-cards}}

    <meta property="og:type" content="article">
    <meta property="og:title" content="{{meta_title}}">
    <meta property="og:description" content="{{meta_description}}">

    <link rel="stylesheet" href="{{asset "css/style.css"}}">

    {{ghost_head}}
</head>
<body class="{{body_class}}">
    {{{body}}}

    {{ghost_foot}}
    <!--
    <script src="{{asset "js/main.min.js"}}"></script>
    <script src="{{asset "js/lithe.js"}}" data-config="/config.js" data-main="conf/page/main.js" data-timestamp="{{timestamp}}" data-path="/assets/js/"></script>
    -->
    <script src="/src/js/require.js" data-main="/src/js/conf/page/main.js"></script>
    <script>
        {{> config}}

        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();

        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', ga_id);
        ga('send', 'pageview');
    </script>
</body>
</html>